<div class="auth-container">
  <div class="auth-box">
    <h2 class="auth-title">Login  to start posting</h2>
    <form (ngSubmit)="login()">
      <mat-form-field class="auth-form-field">
        <mat-label>Username</mat-label>
        <input matInput type="text" [(ngModel)]="username" name="username" required>
      </mat-form-field>

      <mat-form-field class="auth-form-field">
        <mat-label>Password</mat-label>
        <input matInput type="password" [(ngModel)]="password" name="password" required>
      </mat-form-field>

      <button mat-raised-button class="auth-button">Login</button>
    </form>
    <p class="auth-error" *ngIf="errorMessage">{{ errorMessage }}</p>
    <p class="auth-switch">
      Don't have an account?
      <a routerLink="/auth/signup">Sign up</a>
    </p>
  </div>
</div>
